.app-route{
  width: 66%;
  border: 1px solid black;
  min-height: 30px;
  font-weight: bold;
    margin-bottom: 1px;
background-color: snow;
    display: inline-block;
}

.btn{
   font-weight: bold;
    font-size: 14px;
    line-height: 5px;
    color: white;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 7px 15px;
    background-color: black;
    cursor: pointer;
}
.btn1{
   font-weight: bold;
    font-size: 14px;
    line-height: 5px;
    color: white;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 7px 15px;
    background-color: red;
    cursor: pointer;
}
.btns{
float: right;
}
